.nav {
    background-color: #F3F4F5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: auto;
        max-width: 140px;
        margin: 3rem 6rem;
    }

    .nav-links {
        margin-right: 50px;
        a {
            color: black;
            font-size: 24px;
            font-weight: 600;
            text-decoration: none;
            margin: 15px;

            &:visited {
                text-decoration: none;
                color: black;
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    .nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        .nav-links {
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            a {
                font-size: 20px;
            }
        }
    }
}